@forward './base/index';
@use './util/index';
// jehetu direct use kora hobe tai use behar kora 
main{
    background-color: index.$header-bgcolor;
}

@mixin para-style($size, $style, $color){
    font-size: $size;
    text-align: $style;
    color: $color;
}

// mixin er varriable pass  ($varriablename)
p{
    @include para-style(20px , left, rgb(241, 239, 239) );
}